body{

   font-family: 'Poppins', sans-serif;
}

#Hover-One{
    color: blue;
}

#Hover-One:hover{

    color: red;
}

.Input-C-One:focus{
    color: Blue;
}
#Link-One:visited{
    color: hotpink;
}

li:first-child{
    color: red;
}
li:last-child{
    color: crimson;

}
li:nth-child(2n){
    color: gray;
}
#Name-One{
    color: aqua;
}
#Fixed-Video{

text-align: right;
   
}


#Navigation > ul > li > a{
  
  
    text-decoration: none;
    background-image: linear-gradient(120deg, white, white);
    border-radius: 5px;
    padding: 10px 40px;
    color: black;
    font-weight: 700;
}

#Navigation > ul > li > a:hover{
 
  
    text-decoration: none;
    background-image: linear-gradient(120deg, black, rgb(99, 99, 99));
    border-radius: 5px;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

table{ 


    border-collapse: collapse;


    }


td, th{
    text-align: center;
    border:1px solid lightgray;
    padding: 1px 10px;
}
nav > ul{
    display: flex;
    justify-content: center;

}

nav li{
    list-style: none;
}


.Dropdown{
    display: none;
    position: absolute;
}  

nav > ul > li:hover > ul{
    display: block;
    padding: 0;
    margin: 0;
}

.Dropdown li{

    padding: 0;
    margin: 20px 0px;
}
nav > ul > li > ul > li > a{
    text-decoration: none;

}
nav > ul >li > ul{
    margin: 10px 0px 10px 45px;
}




#Navigation > ul > li > ul > li > a{
  
  
    text-decoration: none;
    background-image: linear-gradient(120deg, white, white);
    border-radius: 5px;
    padding: 10px 40px;
    color: black;
    font-weight: 700;
}

#Navigation > ul > li > ul > li > a:hover{
 
  
    text-decoration: none;
    background-image: linear-gradient(120deg, black, rgb(99, 99, 99));
    border-radius: 5px;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

nav > ul > li{
    margin-left: 20px;
    margin-right: 20px;
}